<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sass Tutorial</title>
    <link rel="stylesheet" href="/public/dist/css/main.css">
</head>

<body>
    <div class="container">
        <h1 class="responsive-change-color-test">Color Change</h1>
        <!-- CARD START -->
        <h1 class="responsive-change-color-test">Cards</h1>
        <div class="display-flex-row gap-1 justify-center">
            <div class="col-12-xs col-5-sm col-3-xl">
                <div class="card">
                    <h2 class="card-title text-primary">Hello, ninjas</h2>
                    <p class="card-body bg-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>

            <div class="col-12-xs col-5-sm col-3-xl">
                <div class="card">
                    <h3 class="card-title text-secondary">Hello, ninjas</h3>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-12-xs col-5-sm col-3-xl">
                <div class="card">
                    <h3 class="card-title text-error">Hello, ninjas</h3>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-12-xs col-5-sm col-3-xl">
                <div class="card">
                    <h3 class="card-title text-info">Hello, ninjas</h3>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <!-- NEXT BLOCK -->
        
    </div>
</body>

</html>