<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sass Tutorial</title>
    <link rel="stylesheet" href="/public/dist/css/main.css">
</head>

<body>
    <div class="container">
        <h1 class="responsive-change-color-test">Color Change</h1>
        <!-- CARD START -->
        <h1 class="responsive-change-color-test">Cards</h1>
        <div class="display-flex-row gap-1 justify-center">
            <!-- 1st child -->
            <div class="col-12-xs col-5-sm col-3-xl">
                <div class="card">
                    <h2 class="card-title text-primary">Hello, Onin1</h2>
                    <p class="card-body bg-primary">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- 2st child -->
            <div class="col-12-xs col-5-sm col-3-xl">
                <div class="card">
                    <h3 class="card-title text-secondary-light-5">Hello, Onin2</h3>
                    <p class="card-body line-height-lg">LoremXXXX ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eos facere aut fugiat, sit veniam quas magni laboriosam nulla ea voluptatem quibusdam inventore sunt, corrupti culpa praesentium eum neque numquam unde!
                    Mollitia fugiat iure distinctio voluptas natus quae aut quis recusandae, autem eius error magnam nemo at quaerat. Explicabo, ad omnis voluptatem, laudantium reiciendis, quibusdam nulla architecto eum aliquid culpa repellat.</p>
                </div>
            </div>
            <!-- 3st child -->
            <div class="col-12-xs col-5-sm col-3-xl">
                <div class="card">
                    <h3 class="card-title text-error">Hello, Onin3</h3>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <!-- 4st child -->
            <div class="col-12-xs col-5-sm col-3-xl">
                <div class="card">
                    <h3 class="card-title text-info">Hello, Onin4</h3>
                    <p class="card-body">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
        <!-- NEXT BLOCK -->
        
    </div>
</body>

</html>